{% extends 'base.html' %}
{% load i18n %}
{% load movie_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <table>
        <thead>
            <tr>
                <th>{% trans 'Poster' %}</th>
                <th>{% trans 'Title' %}</th>
                <th>{% trans 'Year' %}</th>
                <th>{% trans 'Director' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>
                        <a href="{% url 'movie_detail' movie.movie.id %}">
                            {% if movie.poster_url %}
                                <img src="{{ movie.poster_url }}" alt="{{ movie.translated_title }}" style="width: 92px; height: auto;">
                            {% else %}
                                -
                            {% endif %}
                        </a>
                    </td>
                    <td><a href="{% url 'movie_detail' movie.movie.id %}">{{ movie.translated_title }}</a></td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.director }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">{% trans 'No movies available.' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}